apiVersion: v1
kind: Secret
metadata:
  name: {{ secret_name }}
  namespace: {{ namespace }}
  labels:
    app: {{ app_label }}
    intelliai2doto/owner: bcl
    intelliai2doto/managed-by: provisioning-engine
    intelliai2doto/topology-id: "{{ topology_id }}"
    intelliai2doto/app-id: "{{ app_id_label }}"
    intelliai2doto/qm-name: "{{ qm_name }}"
  annotations:
    intelliai2doto/created-by: "BCL/provisioning-engine"
    intelliai2doto/run-id: "{{ run_id }}"
    intelliai2doto/lamport-clock: "{{ lamport_clock }}"
type: Opaque
data:
  mqAdminPassword: {{ admin_password_b64 }}
  mqAppPassword: {{ app_password_b64 }}
